<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Twitter / Sign up</title>
  </head>
  <body class="bg-black">
    <div class="container">
      <div
        class="
          d-flex
          flex-column
          justify-content-center
          align-items-center align-content-center
          vh-100
          px-lg-5
        "
      >
        <form
          action="/signup"
          method="POST"
          class="
            d-flex
            flex-column
            rounded-5
            bg-dark-two
            border border-dark
            px-3
            w-50
          "
        >
          <h3 class="text-white my-3 d-block text-center">
            <i class="fab fa-twitter"></i>
          </h3>
          <h3 class="text-white mb-3 d-block text-center">Sign up</h3>
          <label for="firstname-sp" class="text-dark position-relative mb-3"
            ><span
              class="position-absolute ps-3 fs-8 fw-bold text-gray"
              style="top: 4px"
              >Firstname</span
            >
            <input
              type="text"
              name="firstname"
              id="firstname-sp"
              class="no-focus rounded-5 px-3 pb-2 pt-4 w-100 border-0"
              required
            />
          </label>
          <label for="lastname-sp" class="text-dark position-relative mb-3"
            ><span
              class="position-absolute ps-3 fs-8 fw-bold text-gray"
              style="top: 4px"
              >Lastname</span
            >
            <input
              type="text"
              name="lastname"
              id="lastname-sp"
              class="no-focus rounded-5 px-3 pb-2 pt-4 w-100 border-0"
              required
            />
          </label>
          <label for="username-sp" class="text-dark position-relative mb-3"
            ><span
              class="position-absolute ps-3 fs-8 fw-bold text-gray"
              style="top: 4px"
              >Username</span
            >
            <input
              type="text"
              name="username"
              id="username-sp"
              class="no-focus rounded-5 px-3 pb-2 pt-4 w-100 border-0"
              required
            />
          </label>
          <label for="email" class="text-dark position-relative mb-3"
            ><span
              class="position-absolute ps-3 fs-8 fw-bold text-gray"
              style="top: 4px"
              >E-mail</span
            >
            <input
              type="email"
              name="email"
              id="email"
              class="no-focus rounded-5 px-3 pb-2 pt-4 w-100 border-0"
              required
            />
          </label>
          <label for="email" class="text-dark position-relative mb-3"
            ><span
              class="position-absolute ps-3 fs-8 fw-bold text-gray"
              style="top: 4px"
              >Password</span
            >
            <input
              type="password"
              name="password"
              id="password"
              class="no-focus rounded-5 px-3 pb-2 pt-4 w-100 border-0"
              required
            />
          </label>
          <button type="submit" class="btn btn-twitter-primary rounded-5 mb-3">
            Sign up
          </button>
        </form>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
